# Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

In [1]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect(':memory:')  # Use ':memory:' for in-memory database
cur = conn.cursor()

# Create Weather table
cur.execute('''
    CREATE TABLE Weather (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    )
''')

# Insert data into Weather table
weather_data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

cur.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', weather_data)

# Commit the transaction
conn.commit()

In [2]:
# SQL query to find IDs with higher temperatures compared to previous days
query = '''
    SELECT w.id
    FROM Weather w
    WHERE w.temperature > (
        SELECT w_prev.temperature
        FROM Weather w_prev
        WHERE w_prev.recordDate = DATE(w.recordDate, '-1 day')
    )
'''

# Execute the SQL query
cur.execute(query)

In [3]:
# Fetch and print the results
results = cur.fetchall()
print("Output:")

print("+-----+\n|  id |\n+-----+")
for row in results:
    print(f"|  {row[0]}  |")
print("+-----+")

# Close the connection
conn.close()

Output:
+-----+
|  id |
+-----+
|  2  |
|  4  |
+-----+